%li
  = link_to('Show All Cards', cards_path)
  = link_to('Home', root_path)

- if user_signed_in?
  %li
    = link_to('Logout', destroy_user_session_path, :method=>'delete')
- else
  %li
    = link_to('Login', new_user_session_path)
- if user_signed_in?
  %li
    = link_to('Edit account', edit_user_registration_path)
  %li
    = link_to('Show Profile', profile_path(current_user))
- if !current_user.blank? and  current_user.has_role? :admin
  %li
    = link_to('Send Member Advice', profile_give_advice_path)
  


- else
  %li
    = link_to('Sign up', new_user_registration_path)

