%div
  = render 'cards/search'

  %h1 Listing cards

  %table
    %tr
      %th Card Name
      %th Card Type
      %th
      %th
      %th

    - @cards.each do |card|
      %tr
        %td= card.card_name
        %td= card.card_type

        %td= link_to 'Show Benifits', card
        %td= link_to 'Edit', edit_card_path(card)   if current_user && current_user.has_role?(:admin)
        %td= link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete if   current_user && current_user.has_role?(:admin)

  
  %br
  - if params[:action] == 'index'
    = paginate @cards
 
  %br
  
  = link_to 'New Card', new_card_path

  %br 
  
  = link_to "Do You want to add this to u r profile","user_profile"
